In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
# load trainer data
trainer = pd.read_csv(r'../data/raw/ds_pokemon_trainer_application_data.csv')
trainer.head()

C:\Users\elove\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (69,70,71,72) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ApplicationStatus,ApplicationType,ApplyDate,CurrentlyEmployed,CurrentlyTrainingPokemon,CurrentlyWorkInThisRegion,GraduateSchoolGPA,GraduateSchoolGraduate,GymBadge1Pokemon,GymBadge2Pokemon,...,ReferenceRelationship3,SpokenWithCurrentBoss,TechnicalSchoolGPA,TechnicalSchoolGraduate,TotalYearsOfExp,UndergradSchoolGPA,UndergradSchoolGraduate,WorkedInThisRegion,WorkingForJobAppliedFor,hired
0,Filed Not Hired,Applicant,2013-11-26,False,NaN,False,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,False,NaN,0.0
1,Filed Not Hired,Applicant,2013-11-27,True,NaN,False,NaN,NaN,NaN,NaN,...,Fellow Trainer,NaN,NaN,NaN,5.0,NaN,No,False,NaN,0.0
2,Filed Not Hired,Applicant,2013-11-22,NaN,NaN,False,NaN,NaN,NaN,NaN,...,Fellow Trainer,NaN,NaN,NaN,5.0,3.0,Yes,False,NaN,0.0
3,Filed Not Hired,Applicant,2013-11-23,True,NaN,False,NaN,NaN,Seedot,NaN,...,Boss,NaN,NaN,Yes,1.0,2.4,No,False,NaN,0.0
4,New,Applicant,2013-11-23,True,NaN,False,NaN,NaN,NaN,NaN,...,Professor,NaN,NaN,NaN,3.0,3.0,No,False,NaN,NaN

In [3]:
# load pokemon names
pokemon = pd.read_csv(r'../data/raw/ds_pokemon_names.csv', header=None)
pokemon.head()

# this is simply a list of pokemon names and not very useful here.
# if it had a foreign key to match with a trainer, we could use it. for now, skipping further analysis.

           0
0    Glaceon
1     Seedot
2     Mareep
3     Audino
4  Bellossom

In [4]:
# missing data identification
# many missing values; small number of missing values in target variable (hired)
pd.set_option('display.max_rows', None)

trainer_na = pd.DataFrame(trainer.isnull().sum()/len(trainer),
                          columns=['percent_na'])
trainer_na.sort_values(by='percent_na', ascending=False)

                                               percent_na
HiredSalaryOffer                                  0.98721
GymBadge4Pokemon                                  0.98188
OtherSchoolGPA                                    0.96219
GraduateSchoolGPA                                 0.96111
CurrentlyTrainingPokemon                          0.96089
GymBadge3Pokemon                                  0.94099
WorkingForJobAppliedFor                           0.93855
LastPerformaceRating                              0.93855
SpokenWithCurrentBoss                             0.93855
GraduateSchoolGraduate                            0.90211
TechnicalSchoolGPA                                0.89759
OtherSchoolGraduate                               0.85856
GymBadge2Pokemon                                  0.83589
RecentTrainingExperience4Pokemon                  0.83035
UndergradSchoolGPA                                0.75639
RecentTrainingExperience4PayRateEnd               0.74032
HighSchoolGPA                                     0.72794
RecentTrainingExperience4To                       0.69623
RecentTrainingExperience4From                     0.69261
RecentTrainingExperience3Pokemon                  0.68751
RecentTrainingExperience4ContactForRef            0.68131
RecentTrainingExperience4EmploymentStatus         0.67083
TechnicalSchoolGraduate                           0.66524
GymBadge1Pokemon                                  0.65027
RecentTrainingExperienceContactForRefYes          0.60166
RecentTrainingExperienceContactForRefNA           0.60166
RecentTrainingExperienceContactForRefNo           0.60166
RecentTrainingExperienceContactForRefPostHire     0.60166
RecentTrainingExperience2Pokemon                  0.58093
RecentTrainingExperience3PayRateEnd               0.55162
GymCertified                                      0.52953
UndergradSchoolGraduate                           0.49280
GymCertificationEverSuspended                     0.47353
RecentTrainingExperience1Pokemon                  0.47054
RecentTrainingExperience3ContactForRef            0.46605
RecentTrainingExperience3EmploymentStatus         0.45681
RecentTrainingExperience3To                       0.44762
RecentTrainingExperience3From                     0.44133
ReferenceRelationship3                            0.39644
RecentTrainingExperience2PayRateEnd               0.39283
ReferenceRelationship2                            0.35964
ReferenceRelationship1                            0.33530
RecentTrainingExperience1PayRateEnd               0.29319
RecentTrainingExperience2ContactForRef            0.27535
RecentTrainingExperience2EmploymentStatus         0.26935
RecentTrainingExperience2To                       0.26552
RecentTrainingExperience2From                     0.25321
PositionForTrainingPokemon                        0.24804
CurrentlyEmployed                                 0.17404
RecentTrainingExperience1To                       0.13660
RecentTrainingExperience1EmploymentStatus         0.10624
WorkedInThisRegion                                0.09378
HighSchoolGraduate                                0.07867
CurrentlyWorkInThisRegion                         0.07518
RecentTrainingExperience1ContactForRef            0.06530
GymBadgeTemp2                                     0.06527
GymBadgeTemp3                                     0.06527
GymBadgePerm4                                     0.06527
GymBadgeTemp4                                     0.06527
GymBadgePerm3                                     0.06527
GymBadgePerm2                                     0.06527
GymBadgePerm1                                     0.06527
GymBadgeTemp1                                     0.06527
RecentTrainingExperience1From                     0.05160
hired                                             0.03679
TotalYearsOfExp                                   0.03086
JobPostingDate                                    0.01500
HighEduLevelCompleted                             0.01188
JobSchedule                                       0.00498
JobStatusTemp                                     0.00382
JobStatusPerDiem                                  0.00382
JobStatusPartTime                                 0.00382
JobStatusFullTime                                 0.00382
JobStatusFlexTime                                 0.00382
JobShiftWeekend                                   0.00382
JobShiftRotating                                  0.00382
JobShiftNight                                     0.00382
JobShiftEvening                                   0.00382
JobShiftDay                                       0.00382
ApplicationStatus                                 0.00004
PokemonWorldRegion                                0.00004
PokemonTrainerClass                               0.00004
ApplicationType                                   0.00000
InternalEmployee                                  0.00000
ApplyDate                                         0.00000

In [ ]:
# feature engineering

# many missing values seem to be from missing application work histories and education histories
# we should combine these into features to view highest level of education, number of jobs etc.

# references
trainer['RecentTrainingExperience1ContactForRef'].tolist()
references = ['RecentTrainingExperience1ContactForRef','RecentTrainingExperience2ContactForRef',
              'RecentTrainingExperience3ContactForRef','RecentTrainingExperience4ContactForRef']
trainer['recent_reference_provided'] = np.where(trainer['RecentTrainingExperience1ContactForRef']==True, True, False)
trainer.drop(columns=references)

In [ ]:
# highest pay rate
trainer['RecentTrainingExperience1PayRateEnd'].tolist()
references = ['RecentTrainingExperience1PayRateEnd','RecentTrainingExperience2PayRateEnd',
              'RecentTrainingExperience3PayRateEnd','RecentTrainingExperience4PayRateEnd',
              'RecentTrainingExperience1PayRateStart','RecentTrainingExperience2PayRateStart',
              'RecentTrainingExperience3PayRateStart','RecentTrainingExperience4PayRateStart']
trainer['highest_pay_rate'] = np.where(trainer['RecentTrainingExperience1ContactForRef']==True, True, False)
trainer.drop(columns=references)